@charset "UTF-8";

@import
   url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
   ;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans KR', sans-serif;
}

a {
   text-decoration: none;
   color: #333;
}

a:hover {
   text-decoration: none;
}

li {
   list-style: none;
}

header {
   margin-bottom: 40px;
}

.logo {
   width: 350px;
   height: 110px;
   margin: 5px 50px 5px 10px;
}

.header_top_box {
   min-width: 100em;
   height: 40px;
   background-color: #32c182;
   display: flex;
   justify-content: right;
}

.header_top_info_ul {
   display: flex;
   align-items: center;
   margin: 0 30px;
}

.header_top_info_li {
   color: white;
   margin-left: 15px;
}

.header_top_info_li a {
   color: white;
   transition: color 0.3s ease;
}

.header_top_info_li a:hover {
   color: #626ae6;
}

.header_menu {
   padding: 10px 5px;
   min-width: 100em;
   height: 100px;
   background-color: white;
   display: flex;
   align-items: center;
   border-bottom: 1px solid #e5e5e5;
}

.header_menu ul {
   display: flex;
   align-items: center;
   margin: 0;
}

.header_menu ul li {
   margin: 0 20px;
}

.header_menu ul li a {
   padding: 27px 50px;
   font-size: 23px;
   font-weight: 600;
   border-radius: 4px;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.header_menu ul li a:hover {
   border-bottom: 4px solid #626ae6;
   color: #626ae6;
}

.sub_menu {
   min-width: 230px;
   margin-right: 80px;
}

.sub_menu_top {
   text-align: center;
   padding: 25px 0;
   border-bottom: 3px solid #33688F;
}

.sub_menu_top h2 {
   margin: 0;
   font-weight: 600;
   color: #133c63;
}

.sub_menu_mid {
   display: flex;
   justify-content: center;
}

.sub_menu_table {
   border-color: #D1D5D4;
}

.sub_menu_table td {
   border-left: hidden;
   border-right: hidden;
   width: 200px;
   height: 71px;
   padding: 20px 0;
   font-size: 20px;
}

.sub_menu_table td a {
   padding: 20px 10px;
}

.sub_menu_table tr:nth-last-of-type(1) td {
   border-bottom: hidden;
   height: 72px !important;
}

.sub_menu_table tr:nth-of-type(1) td {
   border-top: hidden;
}

main {
   min-width: 1150px;
   padding: 20px;
   margin-bottom: 50px;
}

main h1:first-of-type {
   font-weight: 600;
}

.split_div {
   min-width: 1100px;
   height: 2px;
   background-color: gray;
   margin: 20px 0 50px;
}

.selected_menu, .sub_menu_table td a:hover {
   color: #075AA4;
   font-weight: 600;
}

.no_list_p {
   font-size: 20px;
   color: #6c6a6a;
   font-weight: 600;
}

.page_list {
   display: flex;
   justify-content: center;
}

.page_list li {
   margin: 30px 20px;
}

.selected_page {
   font-weight: 700;
   color: #007bff;
}