@charset "UTF-8";
@import url("login.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f4f4f4;
	font-family: 'Noto Sans KR', sans-serif;
}

.login--div {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 400px;
	height: 225px;
}

.main--container {
	width: 400px;
	padding-top: 15px;
}

.login--container {
	border: 1px solid #e8e6e6;
	border-radius: 10px;
	margin-top: 20px;
	padding: 0 10px;
	font-size: 15px;
	background-color: #fff;
}

.id--container {
	border-bottom: 1px solid #e8e6e6;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.pwd--container {
	display: flex;
	align-items: center;
	background-color: #fff;
}

label {
	background-color: #fff;
	margin: 0 0 0 3px;
	padding-top: 3px;
}

.login--id {
	display: flex;
	align-items: center;
	height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
}

.login--pwd {
	height: 20px;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
}

.checkbox--id {
	background-color: #fff;
	font-size: 12px;
	display: flex;
	align-items: center;
}

#userId, #password {
	border: hidden;
	background-color: #fff;
	margin-left: 5px;
	padding: 1px 3px;
}

#userId {
	margin-right: 70px;
}

#input--submit {
	height: 50px;
	width: 400px;
	border: 1px solid #e8e6e6;
	border-radius: 10px;
	margin-top: 40px;
	background-color: #32c182;
	color: white;
	margin-top: 40px;
}

#input--submit:hover {
	background-color: #6E6AE6;
	transition: background-color 0.3s ease-in-out;
}

.login--info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 15px;
	margin-top: 20px;
}

.login--info li {
	margin-right: 20px;
	list-style: none;
}

.login--info li a {
	text-decoration: none;
	color: black;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}
