@charset "UTF-8";

/* studentInfo 테이블 스타일링 */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

#student-info-container {
    background-color: #f1f8e9; /* 연한 초록색 배경 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

/* 테이블 스타일 */
.idtable, .infotable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.idtable th, .idtable td,
.infotable th, .infotable td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d4e2d4; /* 경계선 색상 */
}

.idtable th, .infotable th {
    background-color: #a5d6a7; /* 부드러운 초록색 */
    color: #fff; /* 흰색 텍스트 */
}

.idtable td, .infotable td {
    background-color: #ffffff; /* 흰색 배경 */
}

.idtable tr:nth-child(even) td, .infotable tr:nth-child(even) td {
    background-color: #e8f5e9; /* 연한 초록색 */
}

.idtable tr:nth-child(odd) td, .infotable tr:nth-child(odd) td {
    background-color: #f1f8e9; /* 더 연한 초록색 */
}

/* 수정 버튼 스타일링 */
button {
    background-color: #4caf50; /* 초록색 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #45a049; /* 어두운 초록색 */
}

.sub_menu {
    float: left;
    width: 17%;
    padding: 20px;
    background-color: #d4e2d4;
    border-radius: 10px;
    margin-right: 20px;
}

main {
    float: left;
    width: 75%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
